{% extends 'default.html.twig' %}

{% block main %}
    <article class="row">
        <figure class="col-12 col-md-4 col-lg-3">
            <a href="{{ url_for(languageSlug ~ '-map') }}">
                <img class="figure-img img-fluid" alt="{{ 'Karte' | trans }}" src="{{ base_path() }}/images/screenshot.png">
            </a>
            <figcaption class="figure-caption">
                {{ 'Alt-katholische Kirchen werden orange, anglikanische grün, evangelische lila, freikirchliche blau, katholische gelb und andere/ökumenische rot dargestellt.' | trans }}
            </figcaption>
        </figure>
        <div class="col-12 col-md-8 col-lg-6">
            <h2>{{ 'Über das Projekt' | trans }}</h2>
            <p>{{ 'Wir wollen zeigen, dass viele Kirchengemeinden, Landeskirchen und Bistümer auch im Web gute Öffentlichtkeitsarbeit machen und stellen diese mit ihren Web- und Social-Media-Auftritten dar.' | trans }}
                {{ 'kirchen-im-web.de vergleicht auch die Follower-Zahlen der Social-Media-Auftritte.' | trans }}

            <h2>{{ 'Wie trage ich (m)eine Gemeinde ein?' | trans }}</h2>
            <p>{{ 'Für das Verzeichnis benötigen wir die Adressen sowie die Webauftritte und Social-Media-Profile.' | trans }}
                {{ 'Da es sich hierbei um öffentlich verfügbare Informationen handelt, müssen diese „nur“ zusammengetragen und gepflegt werden.' | trans }}
                {{ 'Dabei kann jeder mithelfen, der ein wenig Zeit und Lust mitbringt:' | trans }}</p>
            <ul>
                <li>{{ 'Sie möchten Ihre (oder auch eine andere) Gemeinde ergänzen?' | trans }}
                    <a href="{{ url_for(languageSlug ~ '-add') }}">{{ 'Das geht über dieses Formular.' | trans }}</a>
                    {{ 'In der Karte oder der Tabelle können Sie vorher nachschauen, ob die Gemeinde bereits gelistet ist.' | trans }}</li>
                <li>{{ 'Sie haben selber einen Datensatz und möchten uns diesen zur Verfügung stellen?' | trans }}
                    <a href="{{ url_for(languageSlug ~ '-legal') }}">{{ 'Dann schreiben Sie uns!' | trans }}</a></li>
            </ul>

            <h2>{{ 'Was ist der Unterschied zu ähnlichen Projekten?' | trans }}</h2>
            <ul>
                <li>{{ 'Unser Projekt ist überkonfessionell, d. h. egal ob evangelisch, katholisch oder freikirchlich - alle können mitmachen.' | trans }}</li>
                <li><a href="{{ url_for(languageSlug ~ '-data') }}">{{ 'Offene Daten' | trans }}</a>:
                    {{ 'Die Daten stehen in einem freien und offenen Format zur Verfügung, d. h. die Daten können auch für andere Projekte verwendet werden.' | trans }}</li>
                <li>{{ 'Die Daten werden automatisch validiert - das hilft, Fehler zu finden.' | trans }}
                    {{ 'Außerdem prüfen wir regelmäßig, ob die verlinkten Seiten noch existieren.' | trans }}
                    {{ 'So sind unsere Karte und Tabelle immer aktuell.' | trans }}</li>
                <li>{{ 'Der Quelltext dieser Webanwendung ist frei verfügbar.' | trans }}</li>
            </ul>

            <p>{{ 'Sie haben eine Frage, die hier nicht beantwortet wird?' | trans }}
                <a href="{{ url_for(languageSlug ~ '-legal') }}">{{ 'Dann schreiben Sie uns!' | trans }}</a> {{ 'Natürlich sind Verbesserungsvorschläge sehr willkommen.' | trans }}</p>
        </div>
        <div class="col-12 col-lg-3">
            <h2>{{ 'Zuletzt hinzugefügt' | trans }}</h2>
            <div class="row">
                {% for entry in recentlyAddedEntries %}
                    <div class="col-12 col-sm-6 col-lg-12">
                        <div class="card mb-2">
                            <div class="card-header">
                                <div class="card-title">
                                    <a href="{{ url_for(languageSlug ~ '-details', {'id': entry.slug}) }}">{{ entry.name }}</a>
                                </div>
                                <small class="card-subtitle text-muted">{{ entry.denomination|trans }} | {{ entry.type }} | {{ entry.city }}</small>
                            </div>
                            <div class="card-body">
                                {% for id, name in config.websiteTypes %}
                                    {% if entry[id] %}
                                        <a class="px-1" href="{{ entry[id] }}" title="{{ name|trans }}">
                                            <img src="{{ base_path() }}/images/icons/{{ id }}.png" alt="{{ name|trans }}">
                                        </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </article>
{% endblock %}

{% block structured_data %}
    <script type="application/ld+json">
        {
           "@context": "http://schema.org",
           "@type": "WebSite",
           "url": "http://kirchen-im-web.de/",
           "potentialAction": {
             "@type": "SearchAction",
             "target": "http://kirchen-im-web.de{{ url_for(languageSlug ~ '-search') }}?name={q}",
             "query-input": {
                "@type": "PropertyValueSpecification",
                "valueRequired": "True",
                "valueName": "q"
             }
           }
        }
    </script>
{% endblock %}
