{% extends 'default.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block head_styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_path() }}{{ '/lib/leaflet-bundle.css' | asset_version }}">
{% endblock %}

{% block main %}
    <p>{{ 'Alt-katholische Kirchen werden orange, anglikanische grün, evangelische lila, freikirchliche blau, katholische gelb und andere/ökumenische rot dargestellt.' | trans }}</p>

    <div class="row my-3">
        {% for value, name in config.denominations %}
            <div class="col-12 col-sm-6 col-md-4 col-xl-2">
                <div class="d-flex">
                    <span class="flex-shrink-0 {{ value }}"></span>
                    <div class="flex-grow-1 ms-3">{{ name|trans }}</div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="map">
        <p>{{ 'Bitte warten. Die Karte wird geladen.' | trans }}</p>
    </div>
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    {{ macros.map(
        'map',
        '/data/data.json',
        languageSlug,
        config
    ) }}
{% endblock %}
