{% import 'macros.html.twig' as macros %}
{% spaceless %}
<!DOCTYPE html>
    {{ base_url }}
<html lang="{{ language }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block metadata %}
        <title>{{ title|trans }} | {{ 'Kirchliche Web- und Social-Media-Auftritte'|trans }}</title>
        {% if description %}
            <meta name="description" content="{{ description|trans }}">
        {% endif %}
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_url() }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_url() }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_url() }}/favicon-16x16.png">
    <link rel="manifest" href="{{ base_url() }}/manifest.json">
    <link rel="mask-icon" href="{{ base_url() }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ base_url() ~ path_for(languageSlug ~ '-opensearch') }}" title="Kirchen im Web">
    {% block head_styles %}
        <link rel="stylesheet" href="{{ base_url() }}/public/css/style.css">
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{ path_for(languageSlug ~ '-home') }}">{% trans 'Kirchen im Web' %}</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="{% trans 'Menü umschalten' %}">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="header-nav">
                <ul class="navbar-nav mr-auto">
                    {{ macros.menu(headerMenu, currentPath) }}
                </ul>
                <form class="form-inline d-none d-xl-block" action="{{ path_for(languageSlug ~ '-search') }}">
                    <div class="input-group">
                        <input name="name" class="form-control" type="search" placeholder="{% trans 'Suche' %}" aria-label="{% trans 'Suche' %}">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">{% trans 'Suche' %}</button>
                        </div>
                    </div>
                </form>
                <a class="btn btn-primary ml-md-3" href="{{ path_for(languageSlug ~ '-add') }}">{% trans 'Eintragen' %}</a>
            </div>
        </nav>
    </header>
    <main class="container-fluid py-md-3">
        {% if headline %}
            <h1>{{ headline|trans }}</h1>
        {% elseif title %}
            <h1>{{ title|trans }}</h1>
        {% endif %}

        {% block main %}
            <p>{{ text|trans }}</p>
        {% endblock %}
    </main>
    <footer class="container-fluid bg-light">
        <nav>
            <ul class="nav justify-content-center">
                {{ macros.menu(footerMenu, currentPath) }}
            </ul>
        </nav>
    </footer>
    {% block footer_scripts %}
        <script src="{{ base_url() }}/public/lib/jquery.min.js"></script>
        <script src="{{ base_url() }}/public/lib/bootstrap.min.js"></script>
    {% endblock %}
    {% block structured_data %}
    {% endblock %}
</body>
</html>
{% endspaceless %}
