{% import 'macros.html.twig' as macros %}
{% spaceless %}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block metadata %}
        <title>{{ title|trans }} | {{ 'Kirchliche Web- und Social-Media-Auftritte'|trans }}</title>
        {% if description %}
            <meta name="description" content="{{ description|trans }}">
        {% endif %}
    {% endblock %}
    {% block head_styles %}
        <link rel="stylesheet" href="/public/css/style.min.css">
    {% endblock %}
</head>
<body>
    <header>
        <nav class="menu">
            {{ macros.menu(headerMenu, currentPath) }}
        </nav>
    </header>
    <main>
        {% if headline %}
            <h1>{{ headline|trans }}</h1>
        {% elseif title %}
            <h1>{{ title|trans }}</h1>
        {% endif %}

        {% block main %}
            <p>{{ text|trans }}</p>
        {% endblock %}
    </main>
    <footer>
        <nav class="menu">
            {{ macros.menu(footerMenu, currentPath) }}
        </nav>
    </footer>
    {% block footer_scripts %}
    {% endblock %}
    {% block structured_data %}
    {% endblock %}
</body>
</html>
{% endspaceless %}
