{% extends 'default.html.twig' %}

{% block main %}
    <article class="row">
        <figure class="col-12 col-md-4 col-lg-3">
            <a href="{{ path_for(languageSlug ~ '-map') }}">
                <img class="figure-img img-fluid" alt="{% trans 'Karte' %}" src="{{ base_url() }}/images/screenshot.png">
            </a>
            <figcaption class="figure-caption">
                {% trans 'Alt-katholische Kirchen werden orange, anglikanische grün, evangelische lila, freikirchliche blau, katholische gelb und andere/ökumenische rot dargestellt.'%}
            </figcaption>
        </figure>
        <div class="col-12 col-md-8 col-lg-9">
            <h2>{% trans 'Über das Projekt' %}</h2>
            <p>{% trans 'Wir wollen zeigen, dass viele Kirchengemeinden, Landeskirchen und Bistümer auch im Web gute Öffentlichtkeitsarbeit machen und stellen diese mit ihren Web- und Social-Media-Auftritten dar.' %}
                {% trans 'kirchen-im-web.de vergleicht auch die Follower-Zahlen der Social-Media-Auftritte.' %}

            <h2>{% trans 'Wie trage ich (m)eine Gemeinde ein?'%}</h2>
            <p>{% trans 'Für das Verzeichnis benötigen wir die Adressen sowie die Webauftritte und Social-Media-Profile.'%}
                {% trans 'Da es sich hierbei um öffentlich verfügbare Informationen handelt, müssen diese „nur“ zusammengetragen und gepflegt werden.'%}
                {% trans 'Dabei kann jeder mithelfen, der ein wenig Zeit und Lust mitbringt:'%}</p>
            <ul>
                <li>{% trans 'Sie möchten Ihre (oder auch eine andere) Gemeinde ergänzen?'%}
                    <a href="{{ path_for(languageSlug ~ '-add') }}">{% trans 'Das geht über dieses Formular.'%}</a>
                    {% trans 'In der Karte oder der Tabelle können Sie vorher nachschauen, ob die Gemeinde bereits gelistet ist.'%}</li>
                <li>{% trans 'Sie haben selber einen Datensatz und möchten uns diesen zur Verfügung stellen?'%}
                    <a href="{{ path_for(languageSlug ~ '-legal') }}">{% trans 'Dann schreiben Sie uns!'%}</a></li>
            </ul>

            <h2>{% trans 'Was ist der Unterschied zu ähnlichen Projekten?'%}</h2>
            <ul>
                <li>{% trans 'Unser Projekt ist überkonfessionell, d. h. egal ob evangelisch, katholisch oder freikirchlich - alle können mitmachen.'%}</li>
                <li><a href="{{ path_for(languageSlug ~ '-data') }}">{% trans 'Offene Daten'%}</a>:
                    {% trans 'Die Daten stehen in einem freien und offenen Format zur Verfügung, d. h. die Daten können auch für andere Projekte verwendet werden.'%}</li>
                <li>{% trans 'Die Daten werden automatisch validiert - das hilft, Fehler zu finden.'%}
                    {% trans 'Außerdem prüfen wir regelmäßig, ob die verlinkten Seiten noch existieren.'%}
                    {% trans 'So sind unsere Karte und Tabelle immer aktuell.'%}</li>
                <li>{% trans 'Der Quelltext dieser Webanwendung ist frei verfügbar.' %}</li>
            </ul>

            <p>{% trans 'Sie haben eine Frage, die hier nicht beantwortet wird?'%}
                <a href="{{ path_for(languageSlug ~ '-legal') }}">{% trans 'Dann schreiben Sie uns!'%}</a> {% trans 'Natürlich sind Verbesserungsvorschläge sehr willkommen.'%}</p>
        </div>
    </article>
{% endblock %}

{% block structured_data %}
    <script type="application/ld+json">
        {
           "@context": "http://schema.org",
           "@type": "WebSite",
           "url": "http://kirchen-im-web.de/",
           "potentialAction": {
             "@type": "SearchAction",
             "target": "http://kirchen-im-web.de{{ path_for(languageSlug ~ '-search') }}?name={q}",
             "query-input": {
                "@type": "PropertyValueSpecification",
                "valueRequired": "True",
                "valueName": "q"
             }
           }
        }
    </script>
{% endblock %}
