{% extends 'default.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block head_styles %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ base_url() }}/public/lib/leaflet.css">
    <link rel="stylesheet" href="{{ base_url() }}/public/lib/MarkerCluster.css">
    <link rel="stylesheet" href="{{ base_url() }}/public/lib/MarkerCluster.Default.css">
{% endblock %}

{% block main %}
    <p>{% trans 'Alt-katholische Kirchen werden orange, anglikanische grün, evangelische lila, freikirchliche blau, katholische gelb und andere/ökumenische rot dargestellt.' %}</p>
    <div id="map">
        <p>{% trans 'Bitte warten. Die Karte wird geladen.' %}</p>
    </div>
{% endblock %}

{% block footer_scripts %}
    <script src="{{ base_url() }}/public/lib/jquery.min.js"></script>
    {{ macros.map('map', base_url() ~ '/data/data.json', config) }}
{% endblock %}
