{% extends 'default.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block main %}
    <p>
        {% trans %}
            Auf kirchen-im-web.de ist aktuell eine Gemeinde erfasst.
        {% plural total.count %}
            Auf kirchen-im-web.de sind aktuell {{ count }} Gemeinden erfasst.
        {% endtrans %}
    </p>

    <nav>
        <h2>{% trans 'Inhalt' %}</h2>
        <ul>
            <li><a href="#statistics-denominations">{% trans 'Einträge nach Konfessionen' %}</a></li>
            <li><a href="#statistics-countries">{% trans 'Einträge nach Ländern' %}</a>
            <li><a href="#statistics-types">{% trans 'Einträge nach Gemeindetypen' %}</a></li>
            <li><a href="#statistics-networks">{% trans 'Einträge nach Webauftritten/Social-Media-Auftritten' %}</a></li>
            <li><a href="#statistics-https">{% trans 'Verschlüssung der Webauftritte' %}</a></li>
        </ul>
    </nav>

    <article id="statistics-denominations">
        <h2>{% trans 'Einträge nach Konfessionen' %}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="denominations" class="chart"></div>
            </div>
            <div class="col-12 col-lg-6">
                <table class="table table-striped stats-table">
                    <thead>
                        <tr>
                            <th>{% trans 'Konfession' %}</th>
                            <th colspan="2">{% trans 'Anzahl der Einträge' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for d in statsByDenomination %}
                            <tr>
                                <td><a class="{{ d.denomination }}" href="{{ path_for(languageSlug ~ '-search') }}?denomination={{ d.denomination }}">{{ config.denominations[d.denomination]|trans }}</a></td>
                                <td class="number">{{ macros.number_format(d.count, languageSlug) }}</td>
                                <td class="number">{{ macros.percentage(d.count, total.count, languageSlug) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>

    <article id="statistics-countries">
        <h2>{% trans 'Einträge nach Ländern' %}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="countries" class="chart"></div>
            </div>
            <div class="col-12 col-lg-6">
                <table class="table table-striped stats-table">
                    <thead>
                        <tr>
                            <th>{% trans 'Land' %}</th>
                            <th colspan="2">{% trans 'Anzahl der Einträge' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in statsByCountry %}
                            <tr>
                                <td><a class="{{ c.countryCode|lower }}" href="{{ path_for(languageSlug ~ '-search') }}?countryCode={{ c.countryCode }}">{{ config.countries[c.countryCode]|trans }}</a></td>
                                <td class="number">{{ macros.number_format(c.count, languageSlug) }}</td>
                                <td class="number">{{ macros.percentage(c.count, total.count, languageSlug) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>

    <article id="statistics-types">
        <h2>{% trans 'Einträge nach Gemeindetypen' %}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="types" class="chart"></div>
            </div>
            <div class="col-12 col-lg-6">
                <table class="table table-striped stats-table">
                    <thead>
                        <tr>
                            <th>{% trans 'Gemeindetyp' %}</th>
                            <th colspan="2">{% trans 'Anzahl der Einträge' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for t in statsByType %}
                            <tr>
                                <td><a href="{{ path_for(languageSlug ~ '-search') }}?type={{ t.type }}">{{ config.types[t.type]|trans }}</a></td>
                                <td class="number">{{ macros.number_format(t.count, languageSlug) }}</td>
                                <td class="number">{{ macros.percentage(t.count, total.count, languageSlug) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>

    <article id="statistics-networks">
        <h2>{% trans 'Einträge nach Webauftritten/Social-Media-Auftritten' %}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="websites" class="chart"></div>
            </div>
            <div class="col-12 col-lg-6">
                <table class="table table-striped stats-table">
                    <thead>
                        <tr>
                            <th>{% trans 'Webauftritt/Netzwerk' %}</th>
                            <th colspan="2">{% trans 'Anzahl der Einträge' %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for w in statsByWebsite %}
                            <tr>
                                <td><a class="{{ w.type }}" href="{{ path_for(languageSlug ~ '-search') }}?hasWebsiteType={{ w.type }}&{{ w.type }}=show">{{ config.websites[w.type]|trans }}</a></td>
                                <td class="number">{{ macros.number_format(w.count, languageSlug) }}</td>
                                <td class="number">{{ macros.percentage(w.count, total.count, languageSlug) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>

    <article id="statistics-https">
        <h2>{% trans 'Verschlüssung der Webauftritte' %}</h2>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div id="https" class="chart"></div>
            </div>
            <div class="col-12 col-lg-6">
                <table class="table table-striped stats-table">
                    <thead>
                        <tr>
                            <th>{% trans 'Webauftritt/Netzwerk' %}</th>
                            <th>{% trans 'alle' %}</th>
                            <th colspan="2">HTTPS</th>
                            <th colspan="2">HTTP</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for h in statsHTTPS %}
                            {% set countHTTP = h.count - h.countHTTPS %}
                            <tr>
                                <td><a class="{{ h.type }}" href="{{ path_for(languageSlug ~ '-search') }}?hasWebsiteType={{ h.type }}&{{ h.type }}=show">{{ config.websites[h.type]|trans }}</a></td>
                                <td class="number">{{ h.count }}</td>
                                <td class="number">{{ macros.number_format(h.countHTTPS, languageSlug) }}</td>
                                <td class="number">{{ macros.percentage(h.countHTTPS, h.count, languageSlug) }}</td>
                                <td class="number">{{ macros.number_format(countHTTP, languageSlug) }}</td>
                                <td class="number">{{ macros.percentage(countHTTP, h.count, languageSlug) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </article>
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    <script src="{{ base_url() }}/public/lib/highcharts.js"></script>
    <script>
        $(function() {
            $('#denominations').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{% trans 'Einträge nach Konfessionen' %}'
                },
                subtitle: {
                    text: 'kirchen-im-web.de'
                },
                legend: {
                    enabled: true
                },
                series: [ {
                    name: '{% trans 'Anzahl der Einträge' %}',
                    data: [{% for d in statsByDenomination %}{name:'{{ d.denomination|trans }}',y:{{ d.count }}},{% endfor %}]
                } ],
                colors: [
                    '#FF8000', /* orange: Old Catholic */
                    '#81A04D', /* green: Anglican */
                    '#4E2775', /* purple: Protestant */
                    '#2f7ed8', /* bright purple: free churches */
                    '#E5CA4D', /* yellow: Catholic */
                    '#FF4500'  /* red: oecumenic */
                ],
                credits: {
                    href: '',
                    text: ''
                }
            });
        });
    </script>
    <script>
        $(function() {
            $('#countries').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{% trans 'Einträge nach Ländern' %}'
                },
                subtitle: {
                    text: 'kirchen-im-web.de'
                },
                series: [ {
                    name: '{% trans 'Anzahl der Einträge' %}',
                    data: [{% for c in statsByCountry %}{name:'{{ config.countries[c.countryCode]|trans }}',y:{{ c.count }}},{% endfor %}]
                } ],
                credits: {
                    href: '',
                    text: ''
                }
            });
        });
    </script>
    <script>
        $(function() {
            $('#types').highcharts({
                chart: {
                    type: 'pie'
                },
                title: {
                    text: '{% trans 'Einträge nach Gemeindetypen' %}'
                },
                subtitle: {
                    text: 'kirchen-im-web.de'
                },
                series: [ {
                    name: '{% trans 'Anzahl der Einträge' %}',
                    data: [{% for t in statsByType %}{name:'{{ config.types[t.type]|trans }}',y:{{ t.count }}},{% endfor %}]
                } ],
                credits: {
                    href: '',
                    text: ''
                }
            });
        });
    </script>
    <script>
        $(function() {
            $('#websites').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '{% trans 'Gemeinden mit Webauftritt/Social-Media-Profilen' %}'
                },
                subtitle: {
                    text: 'kirchen-im-web.de'
                },
                xAxis: {
                    categories: [{% for w in statsByWebsite %}'{{ config.websites[w.type]|trans }}',{% endfor %}],
                    labels: {
                        rotation: -45
                    }
                },
                yAxis: {
                    title: {
                        text: '{% trans 'Anzahl der Einträge' %}'
                    }
                },
                legend: {
                    enabled: false
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [ {
                    name: '{% trans 'Anzahl der Einträge' %}',
                    data: [{% for w in statsByWebsite %}{{ w.count }},{% endfor %}]
                } ],
                credits: {
                    href: '',
                    text: ''
                }
            });
        });
    </script>
    <script>
        $(function() {
            $('#https').highcharts({
                chart: {
                    type: 'bar'
                },
                title: {
                    text: '{% trans 'Verschlüssung der Webauftritte' %}'
                },
                subtitle: {
                    text: 'kirchen-im-web.de'
                },
                xAxis: {
                    categories: [{% for h in statsHTTPS %}'{{ config.websites[h.type]|trans }}',{% endfor %}],
                    labels: {
                        rotation: -45
                    }
                },
                yAxis: {
                    title: {
                        text: '{% trans 'Anzahl der Einträge' %}'
                    }
                },
                legend: {
                    enabled: true
                },
                plotOptions: {
                    bar: {
                        dataLabels: {
                            enabled: true
                        }
                    }
                },
                series: [ {
                    name: 'HTTP',
                    data: [{% for h in statsHTTPS %}{{ h.count - h.countHTTPS }},{% endfor %}]
                }, {
                    name: 'HTTPS',
                    data: [{% for h in statsHTTPS %}{{ h.countHTTPS }},{% endfor %}]
                }],
                credits: {
                    href: '',
                    text: ''
                }
            });
        });
    </script>
{% endblock %}
