{% extends 'default.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block main %}
    <form method="get">
        <div class="form-row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="form-group">
                    <label for="name">{% trans 'Name' %}</label>
                    <input class="form-control" id="name" name="name" type="text" value="{{ filters.name }}">
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-2">
                <div class="form-group">
                    <label for="postalCode">{% trans 'PLZ' %}</label>
                    <input class="form-control" id="postalCode" name="postalCode" type="text" pattern="[0-9]{4,5}" value="{% if filters.postalCode > 0 %}{{ filters.postalCode }}{% endif %}">
                </div>
            </div>
            <div class="col-12 col-md-3 col-lg-3">
                <div class="form-group">
                    <label for="city">{% trans 'Ort' %}</label>
                    <input class="form-control" id="city" name="city" type="text" value="{{ filters.city }}">
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="countryCode">{% trans 'Land' %}</label>
                    <select class="form-control" id="countryCode" name="countryCode">
                        <option value="">{% trans 'bitte ausw채hlen' %}</option>
                        {% for value, name in config.countries %}
                            <option value="{{ value }}" {% if value == filters.country %}selected{% endif %}>{{ name|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="denomination">{% trans 'Konfession' %}</label>
                    <select class="form-control" id="denomination" name="denomination">
                        <option value="">{% trans 'bitte ausw채hlen' %}</option>
                        {% for value, name in config.denominations %}
                            <option value="{{ value }}" {% if value == filters.denomination %}selected{% endif %}>{{ name|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="type">{% trans 'Gemeindetyp' %}</label>
                    <select class="form-control" id="type" name="type">
                        <option value="">{% trans 'bitte ausw채hlen' %}</option>
                        {% for value, name in config.types %}
                            <option value="{{ value }}" {% if value == filters.type %}selected{% endif %}>{{ name|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="hasWebsiteType">{% trans 'nur Gemeinden mit' %}</label>
                    <select class="form-control" id="hasWebsiteType" name="hasWebsiteType">
                        <option value="">{% trans 'bitte ausw채hlen' %}</option>
                        {% for value, name in config.websites %}
                            <option value="{{ value }}" {% if value == filters.hasWebsiteType %}selected{% endif %}>{{ name|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-3">
                <div class="form-group">
                    <label for="sort">{% trans 'Sortieren nach' %}</label>
                    <select class="form-control" id="sort" name="sort">
                        {% for value, name in config.sortOptions %}
                            <option value="{{ value }}" {% if value == sort.name %}selected{% endif %}>{{ name|trans }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% if not compare %}
                <div class="col-12 col-lg-9">
                    <div class="form-group">
                        <label >{% trans 'Anzeige' %}</label>
                        <div>
                            {% for id, name in config.websites %}
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" id="{{ id }}" name="{{ id }}" type="checkbox" value="show" {% if websites[id] is defined %}checked{% endif %}>
                                    <label class="form-check-label" for="{{ id }}">&nbsp;{{ name|trans }}</label>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <button class="btn btn-primary btn-block" type="submit">{% trans 'Filtern und sortieren' %}</button>
        </div>
    </form>
    {% if entries|length == 0 %}
        <p class="alert alert-danger text-center my-4" role="alert">
            {% trans 'Leider keine Gemeinde gefunden!' %}
        </p>
    {% else %}
        <p class="alert alert-success text-center my-4" role="alert">
            {% trans %}
                Eine Gemeinde gefunden!
            {% plural entries|length %}
                {{ count }} Gemeinden gefunden!
            {% endtrans %}
        </p>
        <table id="churchTable" class="table table-striped tablesorter">
            <thead>
                <tr>
                    <th scope="col">{% trans 'Name' %}</th>
                    <th scope="col">{% trans 'PLZ' %}</th>
                    <th scope="col">{% trans 'Ort' %}</th>
                    <th scope="col">{% trans 'Land' %}</th>
                    <th scope="col">{% trans 'Konfession' %}</th>
                    <th scope="col">{% trans 'Gemeindetyp' %}</th>
                    {% for id, name in websites %}
                        <th scope="col" class="{{ id }}">{{ name|trans }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td scope="row"><a href="{{ path_for(languageSlug ~ '-details', {'id': entry.id}) }}">{{ entry.name }}</a></td>
                        <td>{{ entry.postalCode }}</td>
                        <td>{{ entry.city }}</td>
                        <td>{{ config.countries[entry.country]|trans }}</td>
                        <td>{{ entry.denomination|trans }}</td>
                        <td>{{ entry.type|trans }}</td>
                        {% for id, name in websites %}
                            {% set followers = entry[id ~ '_followers'] %}
                            {% if entry[id] %}
                                {% if followers > 0 %}
                                    <td class="number"><a href="{{ entry[id] }}" title="{{ name }}">{{ macros.number_format(followers, languageSlug) }}</a></td>
                                {% else %}
                                    {% if compare %}
                                        <td></td>
                                    {% else %}
                                        <td><a href="{{ entry[id] }}">{{ name }}</a></td>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
    <script src="/public/lib/jquery.min.js"></script>
    <script src="/public/lib/jquery.tablesorter.min.js"></script>
    <script>
        $(function(){
            $("#churchTable").tablesorter({
                {% if sort.id == -1 %}
                    {% if compare %}
                        sortList: [ [6,1], [7,1], [8,1] ],
                    {% else %}
                        sortList: [ [3,0], [2,0] ],
                    {% endif %}
                {% else %}
                    sortList: [ [{{ sort.id }},{{ sort.dir }}] ],
                {% endif %}
                {% if languageSlug == 'de' %}
                    usNumberFormat: false
                {% else %}
                    usNumberFormat: true
                {% endif %}
            });
        });
    </script>
{% endblock %}

{% block structured_data %}
    {% if filters|length > 0 %}
        <script type="application/ld+json">
            {
               "@context": "http://schema.org",
               "@type": "WebSite",
               "url": "http://kirchen-im-web.de/",
               "potentialAction": {
                 "@type": "SearchAction",
                 "actionStatus": "CompletedActionStatus",
                 "target": "http://kirchen-im-web.de{{ path_for(languageSlug ~ '-search') }}?name={q}",
                 "query": "{{ filters.name }}",
                 "query-input": {
                    "@type": "PropertyValueSpecification",
                    "valueRequired": "True",
                    "valueName": "q"
                 }
               }
            }
        </script>
    {% endif %}
{% endblock %}
