{% extends 'default.html.twig' %}

{% import 'macros.html.twig' as macros %}

{% block main %}
    <form method="get">
        <fieldset>
            <legend>{% trans 'Filter' %}</legend>
            <input id="name" name="name" type="text" value="{{ filters.name }}">
            <label for="name">{% trans 'Name' %}</label>
            <input id="postalCode" name="postalCode" type="text" pattern="[0-9]{4,5}" value="{% if filters.postalCode > 0 %}{{ filters.postalCode }}{% endif %}">
            <label for="postalCode">{% trans 'PLZ' %}</label>
            <input id="city" name="city" type="text" value="{{ filters.city }}">
            <label for="city">{% trans 'Ort' %}</label>
            <select id="countryCode" name="countryCode">
                <option value="">{% trans 'bitte ausw채hlen' %}</option>
                {% for value, name in config.countries %}
                    <option value="{{ value }}" {% if value == filters.country %}selected{% endif %}>{{ name|trans }}</option>
                {% endfor %}
            </select>
            <label for="countryCode">{% trans 'Land' %}</label>
            <select id="denomination" name="denomination">
                <option value="">{% trans 'bitte ausw채hlen' %}</option>
                {% for value, name in config.denominations %}
                    <option value="{{ value }}" {% if value == filters.denomination %}selected{% endif %}>{{ name|trans }}</option>
                {% endfor %}
            </select>
            <label for="denomination">{% trans 'Konfession' %}</label>
            <select id="type" name="type">
                <option value="">{% trans 'bitte ausw채hlen' %}</option>
                {% for value, name in config.types %}
                    <option value="{{ value }}" {% if value == filters.type %}selected{% endif %}>{{ name|trans }}</option>
                {% endfor %}
            </select>
            <label for="type">{% trans 'Gemeindetyp' %}</label>
            <select id="hasWebsiteType" name="hasWebsiteType">
                <option value="">{% trans 'bitte ausw채hlen' %}</option>
                {% for value, name in config.websites %}
                    <option value="{{ value }}" {% if value == filters.hasWebsiteType %}selected{% endif %}>{{ name|trans }}</option>
                {% endfor %}
            </select>
            <label for="hasWebsiteType">{% trans 'nur Gemeinden mit' %}</label>
            <select id="sort" name="sort">
                {% for value, name in config.sortOptions %}
                    <option value="{{ value }}" {% if value == sort.name %}selected{% endif %}>{{ name|trans }}</option>
                {% endfor %}
            </select>
            <label for="sort">{% trans 'Sortieren nach' %}</label>
        </fieldset>
        <fieldset class="small-fieldset">
            {% if not compare %}
                <legend>{% trans 'Anzeige' %}</legend>
                {% for id, name in config.websites %}
                <div>
                    <input id="{{ id }}" name="{{ id }}" type="checkbox" value="show" {% if websites[id] is defined %}checked{% endif %}>
                    <label for="{{ id }}">&nbsp;{{ name|trans }}</label>
                </div>
                {% endfor %}
            {% endif %}
            <button type="submit">{% trans 'Filtern' %}</button>
        </fieldset>
    </form>
    {% if entries|length == 0 %}
        <p class="clear">{% trans 'Leider keine Gemeinde gefunden!' %}</p>
    {% else %}
        <p class="clear">
            {% trans %}
                Eine Gemeinde gefunden!
            {% plural entries|length %}
                {{ count }} Gemeinden gefunden!
            {% endtrans %}
        </p>
        <table id="churchTable" class="tablesorter">
            <thead>
                <tr>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'PLZ' %}</th>
                    <th>{% trans 'Ort' %}</th>
                    <th>{% trans 'Land' %}</th>
                    <th>{% trans 'Konfession' %}</th>
                    <th>{% trans 'Gemeindetyp' %}</th>
                    {% for id, name in websites %}
                        <th class="{{ id }}">{{ name|trans }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for entry in entries %}
                    <tr>
                        <td><a href="{{ path_for(languageSlug ~ '-details', {'id': entry.id}) }}">{{ entry.name }}</a></td>
                        <td>{{ entry.postalCode }}</td>
                        <td>{{ entry.city }}</td>
                        <td>{{ config.countries[entry.country]|trans }}</td>
                        <td>{{ entry.denomination|trans }}</td>
                        <td>{{ entry.type|trans }}</td>
                        {% for id, name in websites %}
                            {% set followers = entry[id ~ '_followers'] %}
                            {% if entry[id] %}
                                {% if followers > 0 %}
                                    <td class="number"><a href="{{ entry[id] }}">{{ macros.number_format(followers, languageSlug) }}</a></td>
                                {% else %}
                                    {% if compare %}
                                        <td></td>
                                    {% else %}
                                        <td><a href="{{ entry[id] }}">{{ name }}</a></td>
                                    {% endif %}
                                {% endif %}
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
    <script src="/public/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/public/node_modules/tablesorter/dist/js/jquery.tablesorter.min.js"></script>
    <script>
        $(function(){
            $("#churchTable").tablesorter({
                {% if sort.id == -1 %}
                    {% if compare %}
                        sortList: [ [6,1], [7,1], [8,1] ],
                    {% else %}
                        sortList: [ [3,0], [2,0] ],
                    {% endif %}
                {% else %}
                    sortList: [ [{{ sort.id }},1] ],
                {% endif %}
                {% if languageSlug == 'de' %}
                    usNumberFormat: false
                {% else %}
                    usNumberFormat: true
                {% endif %}
            });
        });
    </script>
{% endblock %}

{% block structured_data %}
    {% if filters|length > 0 %}
        <script type="application/ld+json">
            {
               "@context": "http://schema.org",
               "@type": "WebSite",
               "url": "http://kirchen-im-web.de/",
               "potentialAction": {
                 "@type": "SearchAction",
                 "actionStatus": "CompletedActionStatus",
                 "target": "http://kirchen-im-web.de{{ path_for(languageSlug ~ '-search') }}?name={q}",
                 "query": "{{ filters.name }}",
                 "query-input": {
                    "@type": "PropertyValueSpecification",
                    "valueRequired": "True",
                    "valueName": "q"
                 }
               }
            }
        </script>
    {% endif %}
{% endblock %}
