{% macro map(mapId, dataPath, languageSlug, config) %}
    <script src="{{ base_url() }}/assets/{{ 'lib/leaflet.js' | asset_version }}"></script>
    <script src="{{ base_url() }}/assets/{{ 'lib/leaflet.markercluster.js' | asset_version }}"></script>
    <script src="{{ base_url() }}/assets/{{ 'js/map.js' | asset_version }}"></script>
    <script>
        var map = new Map({
            'all': '{% trans 'alle' %}',
            'oldCatholic': "{% trans 'alt-katholisch' %}",
            'anglican': "{% trans 'anglikanisch' %}",
            'protestant': "{% trans 'evangelisch' %}",
            'freeChurches': "{% trans 'freikirchlich' %}",
            'catholic': "{% trans 'katholisch' %}",
            'others': "{% trans 'andere Konfession' %}",
            'web': "{{ config.websites['web'] }}",
            'blog': "{{ config.websites['blog'] }}"
        });
        map.load('{{ mapId }}', '{{ base_url() }}', '{{ dataPath|raw }}', '{{ languageSlug }}');
    </script>
{% endmacro %}

{% macro menu(items, currentPath) %}
    {% if base_url() == '' %}
        {% set current_url = currentPath %}
    {% else %}
        {% set current_url = base_url() ~ '/' ~ currentPath %}
    {% endif %}

    {% for item in items %}
        {% if item.args %}
            {% set url = path_for(item.path, item.args) %}
        {% else %}
            {% set url = path_for(item.path) %}
        {% endif %}
        {% set text = item.text %}

        {% if url == current_url %}
            <li class="nav-item">
                <a class="nav-link active" href="{{ url }}">{% trans text %}</a> <span class="sr-only">{% trans '(aktuelle Seite)' %}</span>
            </li>
        {% else %}
            {% if item.class %}
                <li class="nav-item">
                    <a class="nav-link {{ item.class }}" href="{{ url }}">{% trans text %}</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url }}">{% trans text %}</a>
                </li>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endmacro %}

{% macro number_format(number, languageSlug) %}
    {% if languageSlug == 'de' %}
        {{- number|number_format(0, ',', '.') -}}
    {% else %}
        {{- number|number_format(0, '.', ',') -}}
    {% endif %}
{% endmacro %}

{% macro percentage(count, total, languageSlug) %}
    {% set number = (count / total)*100 %}
    {% if languageSlug == 'de' %}
        {{- number|number_format(1, ',', '.') ~ ' %' -}}
    {% else %}
        {{- number|number_format(1, '.', ',') ~ ' %' -}}
    {% endif %}
{% endmacro %}

{% macro churchHierarchy(entry, languageSlug) %}
    {% if entry.children|length > 0 %}
        <ol>
            {% for child in entry.children %}
                <li><a href="{{ path_for(languageSlug ~ '-details', {'id': child.slug}) }}">
                        {{- child.name -}}</a>
                    {% import _self as macros %}
                    {{ macros.churchHierarchy(child, languageSlug) }}
                </li>
            {% endfor %}
        </ol>
    {% endif %}
{% endmacro %}
