{% import 'macros.html.twig' as macros %}
{% apply spaceless %}
<!DOCTYPE html>
<html lang="{{ language }}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    {% block metadata %}
        <title>{{ title|trans }} | {{ 'Kirchliche Web- und Social-Media-Auftritte' | trans }}</title>
        {% if description %}
            <meta name="description" content="{{ description|trans }}">
        {% endif %}
    {% endblock %}
    <link rel="apple-touch-icon" sizes="180x180" href="{{ base_path() }}/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ base_path() }}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ base_path() }}/favicon-16x16.png">
    <link rel="manifest" href="{{ base_path() }}/manifest.json">
    <link rel="mask-icon" href="{{ base_path() }}/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <link rel="search" type="application/opensearchdescription+xml" href="{{ base_path() ~ url_for(languageSlug ~ '-opensearch') }}" title="{{ 'Kirchen im Web' | trans }}">
    {% block head_styles %}
        <link rel="stylesheet" href="{{ base_path() }}{{ '/css/style.css' | asset_version }}">
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for(languageSlug ~ '-home') }}">{{ 'Kirchen im Web' | trans }}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav" aria-controls="header-nav" aria-expanded="false" aria-label="{{ 'Menü umschalten' | trans }}">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="header-nav">
                    <ul class="navbar-nav me-auto">
                        {{ macros.menu(headerMenu) }}
                    </ul>
                    <form class="d-inline d-none d-xl-block" action="{{ url_for(languageSlug ~ '-search') }}">
                        <div class="input-group">
                            <input name="name" class="form-control" type="search" minlength="3" required placeholder="{{ 'Suche' | trans }}" aria-label="{{ 'Suche' | trans }}">
                            <button class="btn btn-secondary" type="submit">{{ 'Suche' | trans }}</button>
                        </div>
                    </form>
                    <a class="btn btn-primary ms-md-3" href="{{ url_for(languageSlug ~ '-add') }}">{{ 'Eintragen' | trans }}</a>
                </div>
            </div>
        </nav>
    </header>
    <main class="container-fluid py-md-3">
        {% if headline %}
            <h1>{{ headline|trans }}</h1>
        {% elseif title %}
            <h1>{{ title|trans }}</h1>
        {% endif %}

        {% block main %}
            <p>{{ text|trans }}</p>
        {% endblock %}
    </main>
    <footer class="container-fluid bg-light">
        <nav>
            <ul class="nav justify-content-center">
                {{ macros.menu(footerMenu, currentPath) }}
            </ul>
        </nav>
    </footer>
    {% block footer_scripts %}
        <script src="{{ base_path() }}{{ '/lib/bootstrap.min.js' | asset_version }}"></script>
    {% endblock %}
    {% block structured_data %}
    {% endblock %}
</body>
</html>
{% endapply %}
